@use 'colors';
@use 'fonts';

.title-bar {
  background-color: colors.$light-bg;
  border-bottom: 4px solid colors.$light-border-bottom;
  height: 40px;
  color: colors.$light-text;
  font-family: fonts.$family-10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;

  position: relative;

  button:hover {
    background-color: colors.$light-hover-bg;
  }

  .left {
    position: absolute;
    left: 0px;

    border: 0;
    border-right: 2px solid colors.$light-separator2;
    box-shadow: inset -2px 0 colors.$light-separator;

    background: none;
    color: inherit;

    padding: 0;
    padding-left: 6px;
    padding-right: 8px; // To account for the border
  }

  .right {
    position: absolute;
    right: 0px;

    border: 0;
    border-left: 2px solid colors.$light-separator;
    box-shadow: inset 2px 0 colors.$light-separator2;

    background: none;
    color: inherit;

    padding: 0;
    padding-left: 8px; // To account for the border
    padding-right: 6px;
  }
}
